* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

 /* width */
 ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cecfd1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f293a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #194a6b;
}


body {
  background-color: #cecfd1;
}